/* classes for future use */
/* .unsaved 
.saved */

/* div {
    border: 1px solid #ecf1eb;
} */

.container {
    
}

.hour-row {
    height: 80px;
    width: 100%;
    background-color:  #ecf1eb;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.time-block {
    border-right: 3px solid #3e8ca2;
    height: 80px;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1%;  
    color: #3e8ca2;  
    font-size: 18px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    /* background: rgb(62,140,162);
    background: linear-gradient(90deg, rgba(62,140,162,1) 0%, rgba(146,189,197,1) 14%, rgba(236,241,235,1) 100%);     */
}

.content-block {
    height: 80px;
    width: 75%;
}

.save-button {
    border-left: 3px solid #3e8ca2b6;
    background-color: #89c8da;
    height: 80px;
    width: 10%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

@media screen and (max-width: 992px) {
    .content-block {
        width: 65%;
    }
    .save-button {
        width: 20%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #3e8ca2; 
  }


  
  /* textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
   */